.form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    position: relative;
    display: inline-block;
}
.error {
    position: absolute;
    left: 0;
    top: 100%;
}
.text-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
.remove-text {
    font-size: 30px;
}